<!DOCTYPE html> 
<html> 
 <head> 
  <meta charset="UTF-8" /> 
  <title>Page menu</title> 
 </head> 
 <body> 
  <!--
    Only the internal content of the following div is included within
    the template, in menu fragment
    --> 
  <div data-layout-fragment="menu"> 
   <!-- Main navbar --> 
   <nav class="navbar navbar-inverse navbar-fixed-top"> 
    <div class="container"> 
     <div class="navbar-header"> 
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Menu</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> 
      <!-- Brand logo --> 
      <div class="organization-logo navbar-brand"> 
       <a title="pnm" href="/"> <img alt="pnm" data-th-src="@{/public/img/logo.png}" src="../../static/public/img/logo.png" /> </a> 
      </div> 
      <!-- Name application --> 
      <div class="application-name navbar-brand hidden-xs">
       <a href="/" data-th-href="@{/}">pnm</a>
      </div> 
     </div>
     <!-- /navbar-header --> 
     <div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse"> 
      <ul class="nav navbar-nav"> 
       <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_contact})}">Contact<span class="caret"></span></a> 
        <ul class="dropdown-menu"> 
         <li><a href="/contacts/create-form" data-th-text="#{label_create_entity(#{label_contact})}">Create Contact</a></li> 
         <li><a href="/contacts" data-th-text="#{label_list_entity(#{label_contact_plural})}">List Contact</a></li> 
        </ul> </li> 
      </ul> 
      <!-- Languages --> 
      <div data-layout-include="fragments/languages :: languages"> 
       <span>Languages</span> 
      </div> 
      <!-- Menu --> 
      <div data-layout-include="fragments/session-links :: session"> 
       <!-- Content replaced by languages and session template fragment session-links.html --> 
       <span>User session data</span> 
      </div> 
     </div> 
    </div> 
   </nav> 
  </div> 
 </body> 
</html>